EstoqueWSWeb/src/estoquews.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.estoque.caelum.com.br/" schemaLocation="http://localhost:8081/estoquews?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="todosOsItens">
<part name="parameters" element="tns:todosOsItens"></part>
</message>
<message name="todosOsItensResponse">
<part name="parameters" element="tns:todosOsItensResponse"></part>
</message>
<message name="cadastrarItem">
<part name="parameters" element="tns:cadastrarItem"></part>
<part name="token" element="tns:token"></part>
</message>
<message name="cadastrarItemResponse">
<part name="result" element="tns:cadastrarItemResponse"></part>
</message>
<message name="AutotizacaoException">
<part name="fault" element="tns:AutorizacaoFault"></part>
</message>
<portType name="EstoqueWS">
<operation name="todosOsItens">
<input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensRequest" message="tns:todosOsItens"></input>
<output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensResponse" message="tns:todosOsItensResponse"></output>
</operation>
<operation name="cadastrarItem" parameterOrder="parameters token">
<input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadastrarItemRequest" message="tns:cadastrarItem"></input>
<output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadastrarItemResponse" message="tns:cadastrarItemResponse"></output>
<fault message="tns:AutotizacaoException" name="AutotizacaoException" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadastrarItem/Fault/AutotizacaoException"></fault>
</operation>
</portType>
<binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="todosOsItens">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cadastrarItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:cadastrarItem" part="token" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AutotizacaoException">
<soap:fault name="AutotizacaoException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="EstoqueWSService">
<port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
<soap:address location="http://localhost:8081/estoquews"></soap:address>
</port>
</service>
</definitions>
<!-- C:\Users\Gustavo\wildfly-8.2.1.Final\bin>wsconsume.bat -k -n -o C:\Users\Gustavo
\workspace\EstoqueWSWeb\src C:\Users\Gustavo\workspace\EstoqueWSWeb\src\estoquew
s.wsdl -->